* {
  touch-action: manipulation; }

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cdf5dc;
  font-family: Helvetica, sans-serif; }

html, body {
  height: 100%; }

#calculator {
  display: flex;
  margin: auto;
  height: 100%;
  overflow: hidden;
  max-width: 420px;
  flex-direction: column;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0); }
  .landscape #calculator {
    width: 100%;
    max-width: 100%; }
  @media (min-width: 768px) {
    #calculator {
      max-height: 650px; } }

#result {
  flex: 1;
  display: flex;
  color: #fff;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 100;
  font-size: 56px;
  background: #199c64;
  padding: 2% 7%;
  overflow: auto; }

#keypad {
  display: flex;
  flex-wrap: wrap; }
  .landscape #keypad .keybtn {
    font-size: 20px;
    max-height: 40px; }
  #keypad .keybtn {
    flex: 1;
    cursor: pointer;
    user-select: none;
    font-size: 24px;
    font-weight: 300;
    height: calc(100vw / 4);
    max-height: 100px;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-height: 568px) {
      #keypad .keybtn {
        max-height: 75px; } }
    #keypad .keybtn.number, #keypad .keybtn.negative, #keypad .keybtn.dot {
      color: #199c64;
      background: #fbfffd; }
    #keypad .keybtn.operator {
      color: #fff;
      background: #2bc26b; }
    #keypad .keybtn.operator.equal {
      background: #7dde2f; }
